{% extends 'base.html' %}

{% block content %}

<h1>Pet Details: {{ pet.name }}</h1>

<p><a href="/">Back to Pet List</a></p>
<hr>
<p>Pet Name: {{ pet.name }}</p>
<div>
  <img src=" {{ pet.photo_url }}" alt="" width="300">
</div>
<p>Age: {{ pet.age }}</p>
<p>Species: {{ pet.species }}</p>

<h2>Edit Pet Details</h2>
<form id="pet-edit-form" method="POST">
  {{ form.hidden_tag() }} <!--add type=hidden form fields -->

  {% for field in form
         if field.widget.input_type != 'hidden' %}

    <p>
      {{ field.label }}
      {{ field }}

      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
    </p>

  {% endfor %}

  <button type="submit">Submit</button>
</form>

{% endblock %}
